# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_GOOS_LEFT

config ZMK_KEYBOARD_NAME
	default "goos"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_GOOS_LEFT || SHIELD_GOOS_RIGHT

config ZMK_SPLIT
	default y

endif
